# Discord Bot Configuration
DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=

# Brawl Stars API
BRAWL_API_KEY=

# Bot Settings
RESULTS_CHANNEL_IDS=
MYTHIC_PASSWORD=
PIC_ADMIN_ID=
PIC_STORAGE_CHANNEL_ID=
PIC_CHANNEL_ID=
